

/*********************************** HTML ELEMENTS STYLING *******************************************************/




/* a:visited {background-color:}*/
/* a:hover	{	background-color:#777;   }*/




 a:active	{	background-color:#754;   }


body 		{
				
				background-attachment:fixed;
				background-position: center;
				background-image: url(../images/background.jpg);
                font-family:calibri,Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
                background-size: 85%;
              
    
			}



b             { color: #a64c4c;; font-size: 1em; text-shadow: 1px 1px black; }


			
		
button     { 
                height: 50px;
                width: 100px;

                margin-left: 10px; 
                font-weight: bold;
            }




footer  {
              float:right;    
              width: 100%; 
              margin-top: 20px;
              margin-bottom: 20px;
              color: black;
              font-size: 0.75em;
        } 




h1		{   
			
            color:#ffdb4d;
			font-size:48px;
			font-family:calibri,Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
			margin: 0 0 0 0px;
			text-shadow: 2px 1px black ;
			
		}

		
h2		{
			color: #191919;
			text-shadow: 1px 1px black ;
            margin-left: 9%;
            
		}

		
h3		{
			font-size:36px;
			color:white;
			text-shadow: 2px 1px black ;
            margin-left: 9%;
            text-decoration: underline;
           
		}


		
		
h4		{
			color:   #a64c4c;
			text-shadow:  1px 1px black ;
			font-size:    22px;
			text-align:   left;
            margin-left: 10%;
            margin-bottom: 3px;
		}


h5		{
			margin-top:20px;
			margin-bottom:10px;
			color:black;
			font-size:20px;
		}

		
h6		{
			margin:0 0 0 0px ;
			//font-family:Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
            font-size: 12px;
            color:white;
            font-weight: 160;
		    
		}




input        { 
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: center;
             }




li     {
                text-align: left;
                margin-top: 0.5em;
                color: black;
        }



textarea     {
    
                margin-left: 10%;
                width: 35%;
                height: 60px;
                margin-bottom: 10px;
                font-family: calibri,Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
                resize: none;
                overflow: hidden;
                float: left;
                text-align: center;
    
             }






/*********************************** CLASSES STYLING *******************************************************/



			

.cipherTool {
                width: 35%;
				//height:70%;
				text-align: center;
				color:white;
				font-size:20px;
				float:left;
				margin-left:10%;
				border: 2px yellow;
                border-style: dotted;
            }


.current-page  { background-color: #777; }




 .index-to-cipher1 {   
     
				width:250px;
				height:150px;
				margin-left:11%;
                font-size:2em;
                
                color: white;
               
                text-align: center;
                
				border-radius:8%;
                background-color: #777;
                float: left;
                box-shadow: 3px 8px 10px grey;
					
			}



 .index-to-cipher2 	{   
				width:250px;
				height:150px;
				margin-left:11%;
                font-size:2em;
                
                color: white;
                text-align: center;
				border-radius:8%;
                background-color: #a64c4c;
                float: left;
                box-shadow: 3px 8px 10px grey;;
				
                -
			}


			
.index-to-cipher3 	{   
    
				width:250px;
				height:150px;
				margin-left:11%;
                font-size:2em;
                
                color: white;
                text-align: center;
				border-radius:8%;
                background-color: #7f7fff;
                float: left;
                box-shadow: 3px 8px 10px grey;;
					
			}



.input-out-textarea  {

                margin-left: 15%;
                font-size: 16px;;
                text-align: center;
                width: 70%;
                height: 100px;
                margin-bottom: 10px;
                font-family: calibri,Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
                resize: none;
                overflow: hidden;
                
    
             }







.logo	{	
			width:30px;
			height:30px;
			border-width:thick;
			border-color:rgba(255,255,255,1.00);
			border-radius: 90%;
			border-style:double;
			margin: 0 0 0 0px;
	
		}


.desgin-page-container{
                width:84%;
                height: 100%;
                background-color: white;
    
            }


			


		
		
.page-image	{
                float: right;
                align-content: center;
				width:35%;
                margin-right: 10%;
				height:175px;
				border-width:thick;
				border-color:rgba(255,255,255,1.00);
				border-radius: ;	
				padding:3px;
			}
			
			
.paragraph-style	{
				width:82%;
                font-family:calibri,Constantia, "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
				margin-top:30px;
				margin-left:9%;
				font-size:20px;
				color:   #262626;
				text-align: justify;
			
			}


		



p.scroll-menu  {
	
					background-color:#a64c4c;
					margin: 0 0 0 0px;
                    height: 76px;
                    
                    
				
	          }
			  
			
p.scroll-menu  a  {
	
					display: inline-block;
					color:   white;
					text-align: center;
                    margin-top: 8px;
                    text-decoration: underline;
					padding:   14px;
					//text-decoration: none;
					margin-left:10.5%;
                    font-size: 1.5em;
                    font-weight: bold;
        
					border-width:thin;
					border-color:white;
					border-radius:5%;
					border-style:solid;
                
				
				 }
				






.review		{	
				width:60%;
				margin-top:100px;
				margin-right:20%;
				float: right;
				font-size:18px;
				color: grey;
				text-align: justify;
				background-color:white;
				padding:20px;
				border-radius:20%;
			
			}		
			


				
.site-name-dec	{
    
                text-decoration:none;
                color:#ffdb4d;
                
                }
				

			

				
				


       
							

